In [1]:
# import modules
import pandas as pd
import os

In [2]:
# assign file path
json_path = os.path.join('HeroesOfPymoli','purchase_data.json')
#json_path = os.path.join('HeroesOfPymoli','purchase_data2.json')

# read json file
hp_df = pd.read_json(json_path)
hp_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
# Total number of players
# Players_Count = hp_df['SN'].count()
Players_Count = hp_df['SN'].nunique()
Players_df = pd.DataFrame({"Total Players" : [Players_Count]}, index=[0])
Players_df

   Total Players
0            573

In [13]:
# Purchasing Analysis (Total)
# Number of unique items
unique_items_count = hp_df["Item ID"].nunique()
# Number of purchases
total_purchase = len(hp_df["Price"])
# Total Revenue
total_revenue = sum(hp_df["Price"])
# total_rev = "$" + format(total_revenue,".2f")
total_rev = round(total_revenue,2)
total_rev = "$" + str(total_rev)
# Average Purchase Price
# avg_purchase_price = "$" + format(total_revenue/total_purchase,".2f")
avg_purchase_price = round(total_revenue/total_purchase,2)
avg_purchase_price = "$" + str(avg_purchase_price)
# Purchasing Analysis (Total)
pa_table = pd.DataFrame({"Number of Unique Items": unique_items_count,
                         "Average Price (in $)": avg_purchase_price,
                         "Number of Purchases": total_purchase,
                         "Total Revenue": total_rev }, index=[0])
pa_table[["Number of Unique Items", "Average Price (in $)", "Number of Purchases","Total Revenue"]]

,Number of Unique Items,Average Price (in $),Number of Purchases,Total Revenue
0,183,$2.93,780,$2286.33

In [5]:
# Gender Demographics
# Group By Gender and get count of each
gender_count = hp_df["Gender"].value_counts()
# Calculate Pecentage of Players by Gender
gender_percent = (gender_count/sum(gender_count)) * 100
gender_demographics = pd.DataFrame({"Total Count":gender_count,
                                    "Percentage of Players": gender_percent})
gender_demographics["Percentage of Players"] = pd.Series(["{0:.2f}".format(val) for val in gender_percent], index=gender_demographics.index)
gender_demographics

                      Percentage of Players  Total Count
Male                                  81.15          633
Female                                17.44          136
Other / Non-Disclosed                  1.41           11

In [6]:
# Purchasing Analysis(Gender)
# Group by Gender
pa_group = hp_df.groupby('Gender')
# Calculate no.of purchases and their value
purchase_count = pa_group["Price"].count()
purchase_value = pa_group["Price"].sum()
# get distinct player count for Normalized total
norm_gender_count = pa_group["SN"].nunique()
# Create a DataFrame
pa_df = pd.DataFrame({"Purchase Count": purchase_count,
                      "Average Purchase Price": (purchase_value/purchase_count),
                      "Total Purchase Value": purchase_value,
                      "Normalized Totals":(purchase_value/norm_gender_count)})
# format Amount Values
pa_df["Average Purchase Price"] = pd.Series(["${0:.2f}".format(val) for val in pa_df["Average Purchase Price"]], index=pa_df.index)
pa_df["Total Purchase Value"] = pd.Series(["${0:.2f}".format(val) for val in pa_df["Total Purchase Value"]], index=pa_df.index)
pa_df["Normalized Totals"] = pd.Series(["${0:.2f}".format(val) for val in pa_df["Normalized Totals"]], index=pa_df.index)

pa_df[["Purchase Count","Average Purchase Price", "Total Purchase Value","Normalized Totals"]]

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,136,$2.82,$382.91,$3.83
Male,633,$2.95,$1867.68,$4.02
Other / Non-Disclosed,11,$3.25,$35.74,$4.47

In [7]:
# Age Demographics
# Set bin values and their recpective labels
bins = [0,10,14,19,24,29,34,39,45]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
# Create a new column and set the value based on the age bin
hp_df["Age Summary"] = pd.cut(hp_df["Age"], bins, labels=group_names)
# Group the data based on the bin values set up
age_group = hp_df.groupby("Age Summary")
# Calculate no. of purchases and their value
purchase_count = age_group["Price"].count()
purchase_value = age_group["Price"].sum()
# Calculate Average Purchase Price
avg_pur_price  = purchase_value/purchase_count
# Calculate Normalized Total
normalized_total = purchase_value/age_group["SN"].nunique()

# create a DataFrame
age_df = pd.DataFrame({"Purchase Count": purchase_count,
                       "Average Purchase Price": avg_pur_price,
                       "Total Purchase Value": purchase_value,
                       "Normalized Totals": normalized_total})
# format amount values
age_df["Total Purchase Value"] = pd.Series(["${0:.2f}".format(val) for val in age_df["Total Purchase Value"]], index=age_df.index)
age_df["Normalized Totals"] = pd.Series(["${0:.2f}".format(val) for val in age_df["Normalized Totals"]], index=age_df.index)
age_df["Average Purchase Price"] = pd.Series(["${0:.2f}".format(val) for val in age_df["Average Purchase Price"]],
                                   index=age_df.index)
# display data
age_df[["Purchase Count","Average Purchase Price", "Total Purchase Value","Normalized Totals"]]

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Summary,,,,
<10,32,$3.02,$96.62,$4.39
10-14,31,$2.70,$83.79,$4.19
15-19,133,$2.91,$386.42,$3.86
20-24,336,$2.91,$978.77,$3.78
25-29,125,$2.96,$370.33,$4.26
30-34,64,$3.08,$197.25,$4.20
35-39,42,$2.84,$119.40,$4.42
40+,17,$3.16,$53.75,$4.89

In [8]:
# Top Spenders
# Group Data based on the players
sp_group = hp_df.groupby('SN')
# Calculate no. of purchases made by each player and their purchase value
purchase_count = sp_group["Price"].count()
purchase_value = sp_group["Price"].sum()
# Calculate Average Purchase Price for each player
avg_pur_price = purchase_value/purchase_count

# create a DataFrame
sp_df = pd.DataFrame({"Purchase Count": purchase_count,
                       "Average Purchase Price": avg_pur_price,
                       "Total Purchase Value": purchase_value })

# Sort DataFrame based on Total Purchase Value
sp_sorted_df = sp_df.sort_values(by="Total Purchase Value", ascending=False).head()
# Format Amount values
sp_sorted_df["Total Purchase Value"] = pd.Series(["${0:.2f}".format(val) for val in sp_sorted_df["Total Purchase Value"]], 
                                          index=sp_sorted_df.index)
sp_sorted_df["Average Purchase Price"] = pd.Series(["${0:.2f}".format(val) for val in sp_sorted_df["Average Purchase Price"]],
                                   index=sp_sorted_df.index)
'''                                          
sa_df['sort'] = sa_df["Total Purchase Value"].str.extract('(\d+)', expand=False).astype(int)
sa_df.sort_values('sort', inplace=True, ascending=False)
sa_df = sa_df.drop('sort', axis=1)                                         
'''
sp_sorted_df[["Purchase Count","Average Purchase Price", "Total Purchase Value"]]

             Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66               5                  $3.41               $17.06
Saedue76                  4                  $3.39               $13.56
Mindimnya67               4                  $3.18               $12.74
Haellysu29                3                  $4.24               $12.73
Eoda93                    3                  $3.86               $11.58

In [9]:
# Most Popular Items
# Group the data based on the Item ID
pi_group = hp_df.groupby(["Item ID","Item Name"])

# Calculate No. of Purchases made for each Item and its Purchase Value
purchase_count = pi_group["Price"].count()
purchase_value = pi_group["Price"].sum()
# Calculate each Item Price
item_price = purchase_value/purchase_count

# Create a DataFrame
pi_df = pd.DataFrame({"Purchase Count": purchase_count,
                       "Item Price": item_price,
                       "Total Purchase Value": purchase_value })

# sort DataFrame based on Purchase Count
popular_item_df = pi_df.sort_values("Purchase Count",ascending=False).head()

# format Amount Values
popular_item_df["Total Purchase Value"] = pd.Series(["${0:.2f}".format(val) for val in popular_item_df["Total Purchase Value"]], 
                                          index=popular_item_df.index)
popular_item_df["Item Price"] = pd.Series(["${0:.2f}".format(val) for val in popular_item_df["Item Price"]],
                                   index=popular_item_df.index)
# show data
popular_item_df[["Purchase Count","Item Price", "Total Purchase Value"]]

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
84,Arcane Gem,11,$2.23,$24.53
31,Trickster,9,$2.07,$18.63
175,Woeful Adamantite Claymore,9,$1.24,$11.16
13,Serenity,9,$1.49,$13.41

In [10]:
# Most Profitable Items
# Use the above DataFrame but sort it based on Total Purchase Value 
pro_items_df = pi_df.sort_values(by="Total Purchase Value", ascending=False).head()
# format Amount Values
pro_items_df["Total Purchase Value"] = pd.Series(["${0:.2f}".format(val) for val in pro_items_df["Total Purchase Value"]], 
                                          index=pro_items_df.index)
pro_items_df["Item Price"] = pd.Series(["${0:.2f}".format(val) for val in pro_items_df["Item Price"]],
                                   index=pro_items_df.index)
# show data
pro_items_df[["Purchase Count","Item Price", "Total Purchase Value"]]

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,$4.14,$37.26
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70
103,Singed Scalpel,6,$4.87,$29.22
107,"Splitter, Foe Of Subtlety",8,$3.61,$28.88